<div class="my-3 bg-gray-50 rounded-lg md:p-8 p-4" >

  <div class="text-2xl my-2" >
    Create Use
  </div>

  <div class="my-3" >
    <div>
        <%= form_with model: @user, url: user_index_path do |form| %>
            <div class="my-3" >
                <%= form.label :username, "Enter Username" %>
                <%= form.text_field :username, class: "p-2 rounded-lg outline-none ring-1 ring-green-600 focus:ring-2" %>
            </div>
            <div class="my-3" >
                <%= form.label :password, "Enter Password" %>
                <%= form.password_field :password, class: "p-2 rounded-lg outline-none ring-1 ring-green-600
    focus:ring-2" %>
            </div>

            <divd class="my-3"  >
                <%= form.label :password_confirmation, 'Confirm:' %>
                <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "p-2 rounded-lg outline-none ring-1 ring-green-600
    focus:ring-2" %>
            </div>

            <div class="my-3" >
              <button class="bg-green-700 text-white font-semibold px-5 py-2 rounded-lg" >
                Create User
              </button>
            </div>
        <% end %>
    </div>
  </div>
</div>
