<div class="flex flex-col gap-2"  id="<%= "category_#{level}" %>" >
  <div>
    <label for="<%= "subcategory_#{level}" %>">Select category</label>
    <div>
      <select data-category-target="level" data-level="<%= level %>"  name="<%= "subcategory_#{level}" %>" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"  name="<%= "subcategory_#{level}" %>" id="<%= "subcategory_#{level}" %>" >
        <option class="text-gray-700"  value="">Add at this level</option>
        <% categories.each do |category| %>
          <option value="<%= category.id %>"
                    
                        <% if selected_id == category.id.to_s  %>
                            <%= "selected" %>
                        <% end  %>

                    ><%= category.name %></option>
        <% end %>
      </select>
      <div>
      </div>
    </div>
  </div>
  <div id="<%= "category_#{level + 1}" %>" >
    <% if sub_categories.length > 0 %>
      <div>
        <label for="<%= "subcategory_#{level + 1}" %>">Select category</label>
        <select data-category-target="level" data-level="<%= level + 1 %>"  name="<%= "subcategory_#{level + 1}" %>" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"  name="<%= "subcategory_#{level}" %>" id="<%= "subcategory_#{level + 1}" %>" >
          <option class="text-gray-700"  value="">Add at this level</option>
          <% sub_categories.each do |category| %>
            <option value="<%= category.id %>" ><%= category.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>
  </div>
</div>
